
SIPUNI_USER=066172
SIPUNI_SECRET=0.q79g2n8nur

TZ=Asia/Almaty

CHECK_EVERY_SECONDS=300
INACTIVITY_MINUTES=15
CONFIRMATION_STREAK=2

WORK_START=11:00
WORK_END=20:00
LUNCH_START=13:00
LUNCH_END=14:00

ABSENT_AFTER_MINUTES=90

TELEGRAM_BOT_TOKEN=8232685748:AAFQhQnT0vsOXY-RexSdPIn3sygqyrusMQ0
TELEGRAM_CHAT_ID=-1003253213010

GOOGLE_SHEET_ID=1usqEMrdRn2dykWBRPPyOR2i2BU0vbLmZ_WHy5ciaJws
GOOGLE_CREDS_JSON=credentials.json

AUTO_DELETE_ENABLED=0
AUTO_DELETE_MINUTES=5

ALERT_DELETE_HOURS=24

